/*************************************************
*******************GENERAL STYLES*****************
 *************************************************/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 76px;
    background-color: rgb(0,132,253) ;
}

i.fa-solid.fa-bars{
    display: none;
}

.containerHead{
    height: 76px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    margin: 5px;
}

.link{
    margin: 5px;
    padding: 7px;
    text-decoration: none;
    color: white;
}

/*MAIN*/

.firstSection{
    margin-bottom: 100px;
}

.firstCards{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.sezioneUno{
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 50px;
}

.cardsUno{
    display: flex;
    width: calc(100% / 2 + 10.5em);
    background: aqua;
    margin: 10px;
}

.SX{
    width: calc(100% / 2 + 10%);
}

.DX{
    width: calc(100% / 2 - 10%);
}

#phone{
    width: 90%;
}

.sezioneDue{
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.cardsDue{
    width: calc(100% / 3 - 1.25em);
    background: aqua;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.secondSection{
    background-color: #9792e4;
}

.contentSecondSection{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
}

.columnSX{
    min-height: 100px;
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.strategicPlanning{
    width: 70%;
}

.decorationTitle{
    margin-top: 70px;
    margin-bottom: 25px;
}

.columnDX{
    width: calc(100% / 2);
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10%;
    margin: 100px;
    padding: 45px;
}

.appDevelopement{
    width: 50%;
}

.circle{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 2rem auto;
    background-color: #9792e4;
}

.contentThirdSection{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.decorationSubTitle{
    margin-bottom: 30px;
}

.boxPartners{
    background-color: #9792e4;
    display: flex;
    margin-bottom: 30px;
    border-radius: 15px;
}

.boxPhoto{
    margin-left: 30px ;
    display: flex;
    align-items: center;
    position: relative;
}

.photoProfile{
    margin: 15px;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
}

#nomeParteners{
    position: absolute;
    left: 0;
    bottom: 40px;  
}

.benefitWork{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #9792e4;
}

.contentFourthSection{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardBenefit{
    background-color: rgb(255, 255, 255);
    width: calc(100% / 3 - 9px );
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 7px auto;
    gap: 10px;
}

.subTitlecard{
    margin-top:10px;
    margin-bottom: 10px;
    color: #9792e4;
}

.More{ 
    width: calc(100% / 2 - 3rem);
}

.boxContentfiveSection{
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding-top:100px ;
    padding-bottom: 100px;
}

.columnFiveSX{
    width: calc(100%/2 + 20%);
}

.columnFiveDX{
    width: calc(100%/2 - 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.AboutUs{
    border-radius: 50%;
    width: 50%;
    margin-bottom: 40px;
}

.sixthSection{
    background-color: #9792e4;
}

.sixthContentSection{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

footer{
    background-color: rgb(51, 51, 51);
}

.contentFooter{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

/*********************************
**************RESPONSIVE**********
*********************************/

@media screen and (max-width: 480px){
    .containerHead {
        width: 100%;
    }

    i.fa-solid.fa-bars{
        display: block;
    }

    .firstCards{
        width: 100%;
    }

    .link, .start{
        display: none;
    }
    .cardsUno{
        display: flex;
        flex-direction: column;
        width: calc(100% / 3 - 1.25em);
        align-items: center;
        text-align: center;
    }

    .sezioneUno, .sezioneDue{
        display: block;
    }

    .secondSection{
        width: 100%;
    }

    .contentSecondSection{
        width:100%;
        display: flex;
        flex-direction: column;
    }

    .columnSX, .box{
        margin: 0 auto;
    }

    .contentThirdSection{
        width: 100%;
    }


    .boxPartners{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #nomeParteners{
        display: flex;
    }

    .contentFourthSection{
        width: 100%;
    }

    .cardBenefit{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .boxContentfiveSection{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .More{
        width: calc(100% / 4);
        border-radius: 10%;
    }
}